h1.Error{

	position: absolute;
	height: 100px;
	width: 100%;
	color: red;
	font-size: 5em;
	text-transform: uppercase;
	display: block;
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto auto;

}